@tailwind base;
@tailwind components;
@tailwind utilities;

/* General Purposes */
.hover-to-shadow:hover {
  cursor: pointer;
  box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.43);
  border: 1px solid rgba(255, 255, 255, 0.125);
}

.main-container {
  background-image: url("/public/bg.svg");
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  background-size: 100%;
  animation: bgSize 3s ease-in-out 1 alternate;
}

@keyframes bgSize {
  0% {
    background-size: 200%;
  }

  100% {
    background-size: 100%;
  }
}

/* View The Documentation Page */
.sign-button {
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.23);
  border: 1px solid rgba(255, 255, 255, 0.125);
}

.sign-button:hover {
  box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.30);
  border: 1px solid #29ffbf;
}

.download-icon,
.see-icon,
.sign-icon {
  color: white;
}

.see-btn:hover .see-icon {
  color: #ee2b2b;
}

.download-btn:hover .download-icon {
  color: #ee2b2b;
}

.parent-card,
.contract-card,
.header-logo,
.header-nav,
.contract-name-div {
  backdrop-filter: blur(10px) saturate(180%);
  -webkit-backdrop-filter: blur(10px) saturate(180%);
  background-color: rgba(17, 25, 40, 0.50);
  border: 1px solid rgba(255, 255, 255, 0.125);

}

.contract-card {
  background-color: rgba(17, 25, 40, 0.50);
  box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.73);
  border: 2px solid rgba(255, 255, 255, 0.8);
}


/* Upload (Home) Page */
.upload-sign-btn {
  backdrop-filter: blur(10px) saturate(180%);
  -webkit-backdrop-filter: blur(10px) saturate(180%);
  background-color: rgba(17, 25, 40, 0.50);
  box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.73);
  border: 2px solid #29ffbf;
  color: white;
  padding: 1rem;
  transition: linear 0.1s;

}

.upload-sign-btn:hover {
  border: 2px solid #02b27e;
  color: #29ffbf;
  box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.43);
}